<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family= Montserrat:wght@200 & display=swap" rel="stylesheet">
    <title>Portfólio</title>
    <link rel="stylesheet" href="style.css">
    

</head>
<body>
    
    <div class="reader">
        <h1>Leandro Gavioli</h1>

        <img src="./Fotos/Leandro.jpg" alt="homem loiro/ruivo sorrindo" width="300px">
    
        <p>Sou de Divinolândia, interior de SP, tenho 30 anos.</p>
    </div>


<h2>Habilidades</h2>
<ol>
<li>Unix</li>
<li>Bash</li>
<li>Git</li>
<li>GitHub</li>
<li>Internet</li>
</ol>

<h3>Como estou fazendo um curso de Programação, procuro estar sempre bem informado.</h3>


<a href="https://blog.betrybe.com/?utm_medium=email&_hsmi=208321569&_hsenc=p2ANqtz-_YZMkI3ViWMiCsgezEf8ooNCF0hoztubhku_X1ENSaoHJ10vtmm9qH_1DOAsu3hyRpYl4R5oY8kPKhYN5ahcZ9o9lnRVHt24j5slJ_KpgN4l78eT0&utm_content=208321569&utm_source=hs_automation" target=" blank">Blog da Trybe</a>
<br>
<br>
<p1>Conteúdo Unix: Aprendi como o Unix funciona, assim como a forma de interação via linha de comando:</p1>
<br>
<br>
<p1>Conteúdo Bash: Aprendi como utilizar o Bash para interagir com o Unix.</p1>
<br>
<br>
<p1>Conteúdo Git: Aprendi os principais conceitos do controle de versão e os diferentes tipos de sistemas de controle de versão disponíveis.</p1>
<br>
<br>
<p1>Conteúdo GitHub: Aprendi a copiar um repositório já existente no GitHub para o meu computador.</p1>
<br>
<br>
<p1>Conteúdo Internet: Aprendi a explicar de forma simples como a internet funciona.</p1>




</body>
</html>